@using TransferData_ViewBag_ViewData.Models;
@{
    Layout = null;
    var MyUser = ViewData["MyUser"] as Users;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>ViewDate Page</h1>
    @ViewData["Name"]
    <hr />
    @MyUser?.UserName
    @MyUser?.UserId
    @MyUser?.UserFamily  
    
    
</body>
</html>
