
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <style>
        .My-form{
            display:block;
        }
     </style>
    <h1>Register Form</h1>
    <form method="post" action="Register">
        <input type="text" id="Name" name="Name" placeholder="Name" class="My-from" />
        <input type="text" id="Family" name="Family" placeholder="Family" class="My-from" />
        <input type="text" id="Age" name="Age" placeholder="Age" class="My-from" />

        <label for=" Gender">Man</label>
         <input type="radio" value="M" id="Gender" />

        <label for=" Gender">Woman</label>
        <input type="radio" value="F" id="Gender" />

        <input type="submit" value="Register" class="My-from" />
    </form>
</body>
</html>
